:root {
  --app-bg-color: #3e0a0a;
  --app-container-border-radius: 6px;
  --app-accent-color: #26c114;
  --app-color-overlay-10: #0000001a;
  --app-color-overlay-30: #0000004d;
  --app-color-overlay-60: #00000099;
}

body {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;;
  background-color: var(--app-bg-color);
  color: #fff;
}

header {
  display: flex;
  font-size: 1.5em;
  margin: 0.1em;
  padding-right: 0.5em;
  padding-left: 0.5em;
  height: 48px;
  /* border: #f00 solid 1px; */
  background: var(--app-color-overlay-60);
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-radius: var(--app-container-border-radius);
}
header svg {
  color: var(--app-accent-color);
  margin-right: 0.5em;
}

body > div {
  display: flex;
  flex-direction: row;
}

#tv-shows {
  font-size: 1.5em;
}

menu {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
  min-width: 200px;
  font-size: 0.95em;
  background: var(--app-color-overlay-30);
  border-radius: var(--app-container-border-radius);
}
menu a {
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  flex-direction: row;
}
menu a:hover {
  color: var(--app-accent-color);
  border-left: var(--app-accent-color) solid 1px;
}
menu ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}
menu svg {
  height: 1.15em;
  margin: 0.5em;
}
main {
  padding-left: 1em;
  padding-right: 1em;
}

main h2 {
  color: var(--app-accent-color);
}

.list {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}
.tv-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.tv-list img {
  height: 250px;
}
.tv-list li {
  display: flex;
  flex-direction: column;
  width: min-content; 
  margin-right: 1em;
  margin-bottom: 1em;
}
.tv-list a {
  color: var(--app-accent-color);
  text-decoration: none;
}
.list-tv-cast img {
  border-radius: 50%;
}